<div class="body">
<div class="site" id="page">
    
    <main>
        <div class="form-box">
            <div class="logo"><a routerLink="" class="logo">Eas4trainee <span>.</span></a></div>
            <div class="top">
                <div class="container">
                    <ul>
                        <li class="indicator active" ><a routerLink="#"><i class="ri-checkbox-blank-circle-line"></i></a>choose field</li>
                        <li class="indicator" ><a routerLink="#"><i class="ri-checkbox-blank-circle-line"></i></a>your profile</li>
                        <li class="indicator" ><a routerLink="#"><i class="ri-checkbox-blank-circle-line"></i></a>your story</li>

                    </ul>
                </div>
            </div>
            <!--top -->
            <div class="container">
                <form action="" id="student-form" name="student-form">
                    <div class="field form-child active">
                        <h2>Choose your fields of study</h2>
                        <div class="wrapper">
                            <div class="faculty">
                                <div  class="icon agricultural">
                                    <i class="ri-plant-line ri-2x"></i>
                                </div>
                                <h3>domaine 1</h3>
                                <ul>
                                    <li>
                                        <input type="radio" name="faculty[agricultural]" value="international Relation" id="1">
                                        <label for="1">filière 1</label>
                                    </li>
                                    <li>
                                        <input type="radio" name="faculty[agricultural]" value="law" id="2">
                                        <label for="2">filière 2</label>
                                    </li>
                                    <li>
                                        <input type="radio" name="faculty[agricultural]" value="Politics" id="3">
                                        <label for="3">filière 3</label>
                                    </li>
                                </ul>
                            </div>
                            <div class="faculty">
                                <div class="icon art">
                                <i class="ri-quill-pen-line ri-2x"></i></div>
                                <h3>domaine 2</h3>
                                <ul>
                                    <li>
                                        <input type="radio" name="faculty[art]" value="international Relation" id="4">
                                        <label for="4">filière 1</label>
                                    </li>
                                    <li>
                                        <input type="radio" name="faculty[art]" value="law" id="5">
                                        <label for="5">filière 2</label>
                                    </li>
                                    <li>
                                        <input type="radio" name="faculty[art]" value="Politics" id="6">
                                        <label for="6">filière 3</label>
                                    </li>
                                </ul>
                            </div>
                            <div class="faculty">
                                <div class="icon human">
                                <i class="ri-plant-line ri-2x"></i></div>
                                <h3>domaine 3</h3>
                                <ul>
                                    <li>
                                        <input type="radio" name="faculty[human]" value="international Relation" id="7">
                                        <label for="7">filière 1</label>
                                    </li>
                                    <li>
                                        <input type="radio" name="faculty[human]" value="law" id="8">
                                        <label for="8">filière 2</label>
                                    </li>
                                    <li>
                                        <input type="radio" name="faculty[human]" value="Politics" id="9">
                                        <label for="9">filière 3</label>
                                    </li>
                                </ul>
                            </div>
                            <div class="faculty">
                                <div class="icon engineer">
                                <i class="ri-quill-pen-line ri-2x"></i></div>
                                <h3>domaine 4</h3>
                                <ul>
                                    <li>
                                        <input type="radio" name="faculty[engineer]" value="international Relation" id="10">
                                        <label for="10">filière 1</label>
                                    </li>
                                    <li>
                                        <input type="radio" name="faculty[engineer]" value="law" id="11">
                                        <label for="11">filière 2</label>
                                    </li>
                                    <li>
                                        <input type="radio" name="faculty[engineer]" value="Politics" id="12">
                                        <label for="12">filière 3</label>
                                    </li>
                                </ul>
                            </div>
                            <div class="faculty">
                                <div class="icon music">
                                <i class="ri-quill-pen-line ri-2x"></i></div>
                                <h3>domaine 5</h3>
                                <ul>
                                    <li>
                                        <input type="radio" name="faculty[music]" value="international Relation" id="13">
                                        <label for="13">filière 1</label>
                                    </li>
                                    <li>
                                        <input type="radio" name="faculty[music]" value="law" id="14">
                                        <label for="14">filière 2</label>
                                    </li>
                                    <li>
                                        <input type="radio" name="faculty[music]" value="Politics" id="15">
                                        <label for="15">filière 3</label>
                                    </li>
                                </ul>
                            </div>
                            <div class="faculty">
                                <div class="icon science">
                                <i class="ri-quill-pen-line ri-2x"></i></div>
                                <h3>domaine 6</h3>
                                <ul>
                                    <li>
                                        <input type="radio" name="faculty[science]" value="international Relation" id="16">
                                        <label for="16">filière 1</label>
                                    </li>
                                    <li>
                                        <input type="radio" name="faculty[science]" value="law" id="17">
                                        <label for="17">filière 2</label>
                                    </li>
                                    <li>
                                        <input type="radio" name="faculty[science]" value="Politics" id="18">
                                        <label for="18">filière 3</label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="wrapper">
                        <div class="highlight">
                            <div class="head">
                                <div class="thumbnail">
                                    <img class="photo" src="../../assets/user.png" alt="">
                                </div>
                                <div class="split">
                                    <div class="name">
                                        <h4>
                                            <strong class="firstname"> firstname </strong>
                                            <strong class="lastname"> lastname</strong>
                                        </h4>
                                        <span>
                                            <span class="month"> june </span>
                                            <span class="date"> 22 </span>
                                            <span class="year"> 2001 </span>
                                        </span>
                                    </div>
                                    <div class="devider"></div>
                                    <div class="country">
                                        <span class="nationality">tunisia</span>
                                    </div>
                                   
                                </div>
                            </div>
                            <!--head-->
                            <div class="wrapper">
                                <h4>Fields of study selected </h4>
                                <div class="field-selected">
                                    <div class="faculty">
                                        <div class="icon"><i class="ri-quill-pen-line ri-2x"></i></div>
                                        <h3>Art</h3>
                                        <span>design</span>
                                    </div>
                                    <div class="faculty">
                                        <div class="icon"><i class="ri-quill-pen-line ri-2x"></i></div>
                                        <h3>Art</h3>
                                        <span>design</span>
                                    </div>
                                    <div class="faculty">
                                        <div class="icon"><i class="ri-quill-pen-line ri-2x"></i></div>
                                        <h3>Art</h3>
                                        <span>design</span>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="profile form-child">
                            <h2>fill out the application form carrefully</h2>
                            <div class="wrapper">
                                <div class="row personal">
                                    <div class="heading">
                                        <div class="icon"><i class="ri-user-5-line ri-2x"></i></div>
                                        <h3>personal information </h3>
                                    </div>
                                    <div class="upload split">
                                        <p>
                                            <label for="uploader">upload your current photo</label>
                                            <input type="file" name="photo" id="uploader">
                                        </p>
                                    </div>
                                    <div class="split">
                                            <p>
                                                <label>Full name</label>
                                                <input type="text" name="fname" class="fname" placeholder="first name">
                                            </p>
                                            <p>
                                                
                                                <input type="text" name="lname" class="lname" placeholder="last name">
                                            </p>
                                    </div>
                                    <div class="split birth">
                                            <p>
                                                <label>birth date</label>
                                                <input type="number" name="birth_date" placeholder="date" min="1" max="31">
                                            </p>
                                            <p>
                                                <input type="number" name="birth_month" placeholder="month" min="1" max="12">
                                            </p>
                                            <p>
                                                <input type="number" name="birth_year" placeholder="year">
                                            </p>

                                    </div>
                                        <p>
                                            <label>email</label>
                                            <input type="email" placeholder="yours@gmail.com" name="email">
                                        </p>
                                        <p>
                                            <label>phone number</label>
                                            <input type="number" placeholder="+216 12345678" name="phone-number">
                                        </p>
                                        <p>
                                            <label>adress</label>
                                            <input type="text" placeholder="street address" name="address">
                                            <input type="text" placeholder="street address" name="address2">

                                        </p>
                                    <div class="split">
                                            <p>
                                                <input type="text" name="city" placeholder="city">
                                            </p>
                                            <p>
                                                <input type="text" name="state" placeholder="state">
                                            </p>
                                            <p>
                                                <input type="text" name="zipcode" placeholder="postal">
                                            </p>
                                    </div>
                                    <p class="custom-select">
                                        <i class="ri-arrow-down-s-line"></i>
                                        <select name="country">
                                                    <option value="" disabled selected>select your place</option>
                                                    <option value="Albania">nabeul</option>
                                                    <option value="tunisia">mahdia</option>
                                                    <option value="america">tunis</option>
                                                    <option value="italy">sousse</option>
                                                    <option value="suisse">mounastir</option>
                                                    <option value="others">others</option>
                                        </select>
                                    </p>
                                </div>
                                <!--personal-->

                                <div class="row academic">
                                    <div class="heading">
                                        <div class="icon">
                                            <i class="ri-building-2-line ri-2x"></i>
                                        </div> 
                                        <h3>academic background</h3>
                                    </div>
                                    
                                    <div class="split">
                                        <p>
                                            <label>school name</label>
                                            <input type="text" placeholder="school-city" name="city">
                                        </p>
                                        <p>
                                            <label>school location</label>

                                            <input type="text" placeholder="school country" name="country">
                                        </p>
                                    </div>
                                    <p>
                                        <label>GPA</label>
                                        <input type="text" placeholder="school-gps" name="0.00">
                                    </p>
                                    
                                    <div class="split">
                                        <p>
                                            <label>where did you attend?</label>
                                            <input type="text" name="attend entry" placeholder="entry date" onfocus="{this.type='date'}">
                                        </p>
                                        <p>
                                            <input type="text" name="attend exist" placeholder="exist date" onfocus="{this.type='date'}">
                                        </p>
                                    </div>
                                    <div class="split">
                                        <p>
                                            <label>SAT information</label>
                                            <input type="text" name="sat score" placeholder="SAT score (combined)" onfocus="{this.type='date'}">
                                        </p>
                                        <p>
                                            <input type="text" name="sat date" placeholder="test date" onfocus="{this.type='date'}">
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--profile-->
                        <div class="story form-child ">
                            <h2>write about your strength</h2>
                            <div class="wrapper">
                                <div class="row academic">
                                    <div class="heading">
                                        <div class="icon">
                                            <i class="ri-character-recognition-line ri-2x"></i>
                                        </div>
                                        <h3>activity information</h3>
                                    </div>
                                    

                                </div>
                                <p>
                                    <label for="">brief your story</label>
                                    <textarea name="story" id="" cols="30" rows="10"></textarea>
                                </p>
                            </div>

                        </div>
                    </div>
                    <nav>
                        <a routerLink="#0" class="prev">Back</a>
                        <a routerLink="#0" class="next">Continue</a>
                        <a routerLink="/inbording" class="submit">submit</a>
                    </nav>
                </form>
            </div>

        </div>
    </main>
</div>    
</div> 