.body{
    font-family: 'rubik', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #353b48;
    background-color: #ffffff;
}




a{
    text-decoration: none;
    color: inherit;
    -webkit-tap-highlight-color: transparent;
}

img{
    max-width: 100%;
    vertical-align: middle;

}
ul{
    list-style: none;
}
h1,h2,h3,h4{
    font-weight: 500;
    line-height: normal;
}

h1{
    font-size: 2em;
}
h2{
    font-size: 1.75em;
}h3{
    font-size: 1em;
}h4{
    font-size: 1em;
}
a.logo {
    color: #9ab5ee;
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    line-height: 1em;
    margin-left: 20px;
  
  }
  a.logo span {
    font-size: 30px;
    color: #1a056d;
    transform: translateX(-2px);
    display: inline-block;
  }
.container{
    max-width:1100px ;
    margin: 0 auto;
    padding: 0 30px;
}

.logo a{
    font-size: 25px;
    font-weight: 700;
    padding: 20px 0;
    display: block;
    width: fit-content;
}
.top{
margin-bottom: 50px;
background-color: #f5f6fa;
}

.top ul{
    display: flex;
    justify-content: space-between;
    padding:20px 0;
}
.top ul li{
    display: flex;
    align-items: center;
    color: #44bd32;
    line-height: 1;
    gap: 7px;
}

.top ul li.active{
    color: #353b48;
}
.top ul li.active ~ li{
    color: #7f8fa6;
}
.top ul li i{
    font-size: 18px;
}
.top ul li.active i{
    color: #0652DD;
}



form .form-child{
    display: none;
}
form .form-child.active{
    display: block;
}




form h2{
    text-align: center;
    font-weight: 300;
    margin-bottom: 50px;
}

form .field .wrapper{
display: grid;
grid-gap:30px;
grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));

}
form .faculty{
    position: relative;
    padding-left: 60px;
    font-size: 13px;
}

form .faculty h3{
    margin: 15px 0;
}

form .faculty .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: #f5f6fa;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;

}

form .faculty .icon::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(15px);

}
form .faculty .icon{
    filter: blur(20px);


}

form .faculty:nth-child(1) .icon{
    background-color: #7bcb12;
}


form .faculty:nth-child(2) .icon{
    background-color: #b53471;

}

form .faculty:nth-child(3) .icon{
    background-color: #9980Fa;
}
form .faculty:nth-child(4) .icon{
    background-color: #ee5a24;
}
form .faculty:nth-child(5) .icon{
    background-color: #a7e237;
}

form .faculty:nth-child(6) .icon{
    background-color: #16d891;
}

form .faculty ul{
    line-height: 2;
}
form .faculty ul li{
    position: relative;
}

form .field .wrapper input{
    width: 0;
    min-width: 0;
    height: 0;
}

form .field .wrapper label{
    padding-left: 15px;
    cursor: pointer;

}

form .field .wrapper label::before{
    content: '';
    position: absolute;
    display: block;
    top: calc((26px /2) - 8px);
    left: 0;
    width: 12px;
    height: 12px;
    background-color: #f5f6fa;
    border: 1px solid #7f8fa6;
    border-radius: 50%;
}

form .field .wrapper input:checked ~ label::before{
    background-color: #0652DD;
    border-color: #0652DD;
    box-shadow: rgb(0 0 0 / 35%) 0 3px 6px;
}

/* nav */

form nav{
    text-align: right;
    padding: 30px 0;
}

form nav a{
    font-size: 12px;
    display: inline-flex;
    padding: 4px 20px;
    margin-left: 10px;
    border: 1px solid transparent;

}

form nav :where(.next, .submit){
    background-color: #0652DD;
    color: #ffffff;
}

form nav .prev{
    border-color: #7f8fa6;
}
form .split{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 20px;
}

.highlight .head{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.highlight .thumbnail{
    width: 100px;
    height: 100px;
    margin: 0 20px 20px;
    border-radius: 50%;
    background-color: #f5f6fa;
    flex-shrink: 0;
    overflow: hidden;
}

.highlight .thumbnail img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.highlight .head span{
    color: #7f8fa6;
}
.highlight .head h4{
    font-size: 18px;
}

.highlight .head .devider{
    height: 40px;
    width: 1px;
    background-color: #dce0e5;
    transform: rotate(25deg);
}

.highlight .wrapper{
    padding-top: 20px;
    margin-top: 20px;
    border-top: 1px solid #f5f6fa;
}
.highlight .wrapper h4{
    color: #7f8fa6;
    margin-bottom: 50px;
}

.highlight .field-selected{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 50px;
}

.highlight .faculty .icon{
    width: 30px;
    height: 30px;
    font-size: 10px;
}

.highlight .faculty h3{
    margin: 0;
}


.form-child.active ~ .wrapper > .highlight{
    display: none;
}

.field.active ~ nav :where(.prev, .submit),
.field ~ .wrapper .profile.active ~ nav .submit{
    display: none;
}
/*form*/

form :where(.profile, .story) .heading{
    display: flex;
    align-items: center;
    gap: 10px;
    line-height: normal;
    margin-bottom: 30px;

}



form :where(.profile, .story) .heading .icon{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background-color: #353b48;
    border-radius: 50%;

}

form .profile .row:not(:last-child){
    margin-bottom: 50px;
    padding-bottom: 30px;
    border-bottom: 1px solid #dce0e5;


}
form .personal .upload p input{
    height: auto;
    cursor: pointer;
    color: #7f8fa6;
}
form .personal .upload p input::-webkit-file-upload-button{
color: #f5f6fa;
padding: 5px 10px;
background-color: #353b48;
border-radius: 4px;
border: 0;
cursor: pointer;
transition: background-color .3s;
}

form .personal .upload p input:hover::-webkit-file-upload-button{
    background-color: #0652DD;
}

input, select, textarea{
    font: inherit;
    padding: 12px 20px;
    height: 42px;
    background-color: transparent;
    border: 1px solid #dce0e5;
    outline: 0;
    font-size: 13px;
    min-width: 212px;
    width: 100%;
    transition: border .3s;
}
:where(input, select, textarea):focus{
    border-color: #7f8fa6;
}

input ~ input{
    margin-top: 20px;
}

input::placeholder, select{
    font-family: 'rubik';
    color: #7f8fa6;
}

form .row > :where(.split, p){
    margin-bottom: 20px;
}

form p{
    display: flex;
    flex-direction: column;
}

form p label{
    font-size: 14px;
    margin-bottom: 7px;
}

select{
    appearance: none;
}

form .custom-select{
    position: relative;
    line-height: normal;
}

form .custom-select i{
    position: absolute;
    top: 15px;
    right: 20px;
}
form .birth input{
    min-width: 80px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;

}

/*for firefox*/

input[type="number"]{
    -moz-appearance: textfield;
}

textarea{
    height: auto;
}





@media screen and (min-width: 768px) {
    .highlight{
        padding-top: 30px;
        margin-top: 100px;
        border-top: 1px solid #dce0e5;
    }
   form > .wrapper{
        display: grid;
        grid-gap: 50px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    form .personal > *:not(.heading){
        padding-left: 50px;
    }
    
}