<nav>
    <ul class='nav-bar'>
        <a routerLink="" class="logo">Eas4trainee <span>.</span></a>
        <input type='checkbox' id='check' />
        <span class="menu">
            <li ><a  class="aa" routerLink="">Home</a></li>
            <li ><a  class="aa"routerLink="/about">About</a></li>
            <li ><a  class="aa" routerLink="/discover">Discover</a></li>
            <li ><a  class="aa" routerLink="/help">help</a></li>
            <li ><a  class="aa" routerLink="/contact">Contact</a></li>
            <li class="item button"><a routerLink="/signup">Sign Up</a></li>
        <li class="item button secondary"><a routerLink="/signin">Log In</a></li>
            <label for="check" class="close-menu"><i class="fas fa-times"></i></label>
        </span>
        <label for="check" class="open-menu"><i class="fas fa-bars"></i></label>
    </ul>
</nav>