
<app-navbar></app-navbar>
<div class="banner">
 
  <div class="slider">
    <img src="../../assets/home/7.jpg" class="sliderImg">
  </div>
  <div class="overlay">
    <div class="content">
      <h2 class="res">Looking for an internship?</h2>
      <h1>Eas4Trainnee is your best solution</h1>
      <h3>Here you can find all preferred fields of study</h3>
      <div>
        <button type="button">DISCOVER MORE</button>
        <button type="button" class="btn-2">JOIN US</button>

      </div>
    </div>
  </div>

</div>

